USE [TN]
GO
/****** Object:  User [HTKN]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [TH101]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE USER [TH101] FOR LOGIN [TH101] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Coso]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [Coso]
GO
/****** Object:  DatabaseRole [Giangvien]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [Giangvien]
GO
/****** Object:  DatabaseRole [MSmerge_1EEBFCB6EA4E41799F849035FD41F42B]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [MSmerge_1EEBFCB6EA4E41799F849035FD41F42B]
GO
/****** Object:  DatabaseRole [MSmerge_81463FEA6F724321AB59E4249DE40B2E]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [MSmerge_81463FEA6F724321AB59E4249DE40B2E]
GO
/****** Object:  DatabaseRole [MSmerge_AA7672B33B1A4F27862302996161D57A]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [MSmerge_AA7672B33B1A4F27862302996161D57A]
GO
/****** Object:  DatabaseRole [MSmerge_B1BDAFB005B64885A335492DF1C133DF]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [MSmerge_B1BDAFB005B64885A335492DF1C133DF]
GO
/****** Object:  DatabaseRole [MSmerge_D889CD27DCCF41B4BD6CFDCE7EEF0D84]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [MSmerge_D889CD27DCCF41B4BD6CFDCE7EEF0D84]
GO
/****** Object:  DatabaseRole [MSmerge_F7E836B1E2C94792ADAAB2556846CA54]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [MSmerge_F7E836B1E2C94792ADAAB2556846CA54]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [Sinhvien]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [Sinhvien]
GO
/****** Object:  DatabaseRole [Truong]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE ROLE [Truong]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [Giangvien] ADD MEMBER [TH101]
GO
ALTER ROLE [db_owner] ADD MEMBER [TH101]
GO
ALTER ROLE [db_owner] ADD MEMBER [Coso]
GO
ALTER ROLE [db_owner] ADD MEMBER [Giangvien]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_1EEBFCB6EA4E41799F849035FD41F42B]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_81463FEA6F724321AB59E4249DE40B2E]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_AA7672B33B1A4F27862302996161D57A]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_B1BDAFB005B64885A335492DF1C133DF]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_D889CD27DCCF41B4BD6CFDCE7EEF0D84]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_F7E836B1E2C94792ADAAB2556846CA54]
GO
ALTER ROLE [db_owner] ADD MEMBER [Sinhvien]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 11/29/2019 4:54:03 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedFunction [dbo].[checkMH]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[checkMH](@maMH nchar(5))

RETURNS VARCHAR(50) 
AS

BEGIN



DECLARE @checked VARCHAR(50);
DECLARE  @len INT = 0;

 SELECT @len = COUNT(*) FROM BANGDIEM WHERE BANGDIEM.DIEM IS NOT NULL AND BANGDIEM.MAMH=@maMH;

IF @len > 0
 SET @checked = 'X';
 ELSE
 SET @checked = '';

RETURN @checked;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[Num2Text]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Num2Text](@Number float)
RETURNS nvarchar(4000) AS 
BEGIN
	DECLARE @sNumber nvarchar(4000)
	DECLARE @Return	nvarchar(4000)
	DECLARE @mLen int
	DECLARE @i int

	DECLARE @mDigit char(1)
	DECLARE @mTemp nvarchar(4000)
	DECLARE @mNumText nvarchar(4000)

	SELECT @sNumber=LTRIM(cast(@Number as nvarchar))
	SELECT @mLen = Len(@sNumber)

	if @mLen =2
		BEGIN
			SELECT @Return = N'Mười'
			RETURN @Return
		END
	SELECT @i=1
	SELECT @mTemp=''

	WHILE @i <= @mLen
		BEGIN

		SELECT @mDigit=SUBSTRING(@sNumber, @i, 1)

		IF @mDigit='0' SELECT @mNumText=N'không'
		ELSE
			BEGIN
			IF @mDigit='1' SELECT @mNumText=N'một'
			ELSE
			IF @mDigit='2' SELECT @mNumText=N'hai'
			ELSE
			IF @mDigit='3' SELECT @mNumText=N'ba'
			ELSE
			IF @mDigit='4' SELECT @mNumText=N'bốn'
			ELSE
			IF @mDigit='5' SELECT @mNumText=N'năm'
			ELSE
			IF @mDigit='6' SELECT @mNumText=N'sáu'
			ELSE
			IF @mDigit='7' SELECT @mNumText=N'bảy'
			ELSE
			IF @mDigit='8' SELECT @mNumText=N'tám'
			ELSE
			IF @mDigit='9' SELECT @mNumText=N'chín'
			ELSE 
			IF @mDigit='.' SELECT @mNumText=N'phẩy'
			END

		SELECT @mTemp = @mTemp + ' ' + @mNumText

		IF (@mLen = @i) BREAK
		
		IF @i =3
			SELECT @mTemp = @mTemp + N' mươi'
		SELECT @i=@i+1
		END


	SELECT @mTemp = Replace(@mTemp, N'không mươi ', N'không ')

	SELECT @mTemp = Replace(@mTemp, N'một mươi', N'mười')

	SELECT @mTemp = Replace(@mTemp, N'mươi năm', N'mươi lăm')

	--'Fix trường hợp x1, x>=2

	SELECT @mTemp = Replace(@mTemp, N'mươi một', N'mươi mốt')

	--'Fix trường hợp x15

	SELECT @mTemp = Replace(@mTemp, N'mười năm', N'mười lăm')

	--'Bỏ ký tự space

	SELECT @mTemp = LTrim(@mTemp)

	--'Ucase ký tự đầu tiên

	SELECT @Return=UPPER(Left(@mTemp, 1)) + SUBSTRING(@mTemp,2, 4000)

	RETURN @Return
END
GO
/****** Object:  Table [dbo].[BAITHI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAITHI](
	[CauHoi] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CauSo] [int] NOT NULL,
	[NoiDung] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DapAn] [nchar](1) NOT NULL,
	[DaChon] [nchar](1) NULL,
	[MaBD] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_6CFAB7D3B00E43EEBBFBEB5F847FE53E]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_BAITHI] PRIMARY KEY CLUSTERED 
(
	[CauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [nchar](8) NOT NULL,
	[MAMH] [nchar](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[NGAYTHI] [datetime] NULL CONSTRAINT [DF_BANGDIEM_NGAYTHI]  DEFAULT (getdate()),
	[DIEM] [float] NULL,
	[MABD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_40242051F2B04786B3A2B3F7BC57EA7E]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BODE]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODE](
	[CAUHOI] [int] NOT NULL,
	[MAMH] [nchar](5) NOT NULL,
	[TRINHDO] [nchar](1) NULL,
	[NOIDUNG] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DAP_AN] [nchar](1) NOT NULL,
	[MAGV] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_4B49D320214344E6A9F712A29CD24220]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_BODE] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COSO]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[MACS] [nchar](3) NOT NULL,
	[TENCS] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B0C9F4296BD14087B40A17ED86D0003D]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_COSO] PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [nchar](8) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[MAKH] [nchar](8) NOT NULL,
	[HOCVI] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_31BBB59829C0445697F6A2058F24C76F]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAOVIEN_DANGKY]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN_DANGKY](
	[MAGV] [nchar](8) NULL,
	[MAMH] [nchar](5) NOT NULL,
	[MALOP] [nchar](8) NOT NULL,
	[TRINHDO] [nchar](1) NULL,
	[NGAYTHI] [datetime] NULL CONSTRAINT [DF_GIAOVIEN_DANGKY_NGAYTHI]  DEFAULT (getdate()),
	[LAN] [smallint] NOT NULL,
	[SOCAUTHI] [smallint] NULL,
	[THOIGIAN] [smallint] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_5766417EE1564B7E885EACABA092929E]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIAOVIEN_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MALOP] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](8) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[MACS] [nchar](3) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_92FB5F3DD6C3465CA7FDA3086DFE9C78]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](8) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[MAKH] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_BBABA3B5B1A3479A9AD064809A55ABC9]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](5) NOT NULL,
	[TENMH] [varchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_9FF65A81B881496AAD383CA861C2E25A]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TENMH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](8) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[MALOP] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_E2C1E0BD8DF244869DBD06719FFB1756]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[V_DS_COSO]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_COSO]
AS
SELECT        dbo.COSO.MACS, PUBS.description AS TENCS, SUBS.subscriber_server AS TENSERVER
FROM            dbo.COSO INNER JOIN
                         dbo.sysmergepublications AS PUBS INNER JOIN
                         dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server ON dbo.COSO.TENCS = PUBS.description
WHERE        (PUBS.description <> N'TRACUU')

GO
/****** Object:  View [dbo].[V_DSLOP]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DSLOP]
AS
SELECT        MALOP, TENLOP, MAKH
FROM            dbo.LOP

GO
SET IDENTITY_INSERT [dbo].[BAITHI] ON 

INSERT [dbo].[BAITHI] ([CauHoi], [CauSo], [NoiDung], [A], [B], [C], [D], [DapAn], [DaChon], [MaBD], [rowguid]) VALUES (25498, 404, N'có bao nhiêu hành tinh trong hệ mặt tròi', N'9', N'10', N'11', N'12', N'B', N'A', 25047, N'123dec8f-e00c-ea11-8d37-c8ff2829626a')
INSERT [dbo].[BAITHI] ([CauHoi], [CauSo], [NoiDung], [A], [B], [C], [D], [DapAn], [DaChon], [MaBD], [rowguid]) VALUES (25499, 66, N'Please......... photocopies of all relevant docunments to this office ten days prior to your performance review date', N'emerge', N'substantiate', N'adapt', N'submit', N'D', N' ', 25047, N'133dec8f-e00c-ea11-8d37-c8ff2829626a')
INSERT [dbo].[BAITHI] ([CauHoi], [CauSo], [NoiDung], [A], [B], [C], [D], [DapAn], [DaChon], [MaBD], [rowguid]) VALUES (25500, 60, N'It has been predicted that an.......weak dollar will stimulate tourism in the United States', N'increased', N'increasingly', N'increases', N'increase', N'B', N'A', 25047, N'143dec8f-e00c-ea11-8d37-c8ff2829626a')
SET IDENTITY_INSERT [dbo].[BAITHI] OFF
SET IDENTITY_INSERT [dbo].[BANGDIEM] ON 

INSERT [dbo].[BANGDIEM] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [MABD], [rowguid]) VALUES (N'002     ', N'AVCB ', 1, CAST(N'2019-11-22 12:00:00.000' AS DateTime), 1.33, 25047, N'113dec8f-e00c-ea11-8d37-c8ff2829626a')
INSERT [dbo].[BANGDIEM] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [MABD], [rowguid]) VALUES (N'002     ', N'LTMCB', 1, CAST(N'2019-11-22 12:00:00.000' AS DateTime), 2, 25048, N'445aa9ae-e00c-ea11-8d37-c8ff2829626a')
SET IDENTITY_INSERT [dbo].[BANGDIEM] OFF
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid]) VALUES (1, N'MMTCB', N'A', N'mạng máy tính(compute netword) so với hệ thống tập trung multi-user', N'dễ phát triển hệ thống', N'tăng độ tin cậy', N'tiết kiệm chi phí', N'tất cả đều đúng', N'D', N'TH657   ', N'c419bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid]) VALUES (3, N'MMTCB', N'A', N'để một máy tính truyền dữ liệu cho một số máy khác trong mạng, ta dùng loại địa chỉ', N'Broadcast', N'Broadband', N'multicast', N'multiple access', N'C', N'TH123   ', N'c519bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid]) VALUES (4, N'MMTCB', N'A', N'thứ tự phân loại mạng theo chiều dài đường truyền', N'internet, lan, man, wan', N'internet, wan, man, lan', N'lan, wan, man, internet', N'man, lan, wan, internet', N'B', N'TH123   ', N'c619bed3-b7e5-e911-8d30-caff28296269')
GO
INSERT [dbo].[COSO] ([MACS], [TENCS], [DIACHI], [rowguid]) VALUES (N'CS1', N'CO SO 1 ', N'11 Nguyễn Đình Chiểu Phường Đakao Q1', N'a219bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[COSO] ([MACS], [TENCS], [DIACHI], [rowguid]) VALUES (N'CS2', N'CO SO 2', N'Số 9 Man Thiện , quận 9', N'a319bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH], [HOCVI], [rowguid]) VALUES (N'ahy     ', N'ahy', N'ahy', N'ahy', N'VT      ', N'ahy', N'dc4b2078-2c05-ea11-8d34-caff28296269')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH], [HOCVI], [rowguid]) VALUES (N'c       ', N'c', N'c', N'c', N'VT      ', N'c', N'1b6cf93d-2705-ea11-8d34-caff28296269')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH], [HOCVI], [rowguid]) VALUES (N'GV05    ', N'phạm', N'thùy', N'97 man thien', N'VT      ', NULL, N'690d9772-2405-ea11-8d34-caff28296269')
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid]) VALUES (N'ahy     ', N'AVCB ', N'TH04    ', N'B', CAST(N'2019-11-22 12:00:00.000' AS DateTime), 1, 15, 15, N'2c15825d-f108-ea11-8d35-caff28296269')
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid]) VALUES (N'GV3     ', N'AVCB ', N'TH04    ', N'A', CAST(N'2019-11-27 00:00:00.000' AS DateTime), 2, 10, 20, N'5b7fa04f-5a08-ea11-8d35-caff28296269')
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid]) VALUES (N'gv3     ', N'LTMCB', N'TH04    ', N'A', CAST(N'2019-11-30 12:00:00.000' AS DateTime), 1, 10, 55, N'fb1ae52f-e509-ea11-8d35-caff28296269')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'CNTT    ', N'Công nghệ thông tin', N'CS1', N'ad19bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'KT      ', N'Kế toán', N'CS1', N'5aa2884d-db0c-ea11-8d37-c8ff2829626a')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'MR      ', N'Marketing ', N'CS1', N'3ceec7ba-f40c-ea11-8d37-c8ff2829626a')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'TH04    ', N'TIN HOC 2004', N'CNTT    ', N'b419bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'TH05    ', N'TIN HOC 2005', N'CNTT    ', N'b519bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'TH06    ', N'TIN HOC 2006', N'CNTT    ', N'b619bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'AVCB ', N'ANH VAN CAN BAN hehe', N'a419bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL ', N'CO SO DU LIEU 1', N'a619bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CTDL ', N'CAU TRUC DU LIEU', N'a519bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [rowguid]) VALUES (N'002     ', N'DAO TRONG', N'KHAI', CAST(N'1979-08-19 00:00:00.000' AS DateTime), N'15/72 LE VAN THO F8 GOVAP', N'TH04    ', N'ba19bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [rowguid]) VALUES (N'003     ', N'CAO TUAN', N'KHA', CAST(N'1985-12-06 00:00:00.000' AS DateTime), N'12/5 LE QUANG DINH F5 GO VAP', N'TH04    ', N'bb19bed3-b7e5-e911-8d30-caff28296269')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [rowguid]) VALUES (N'004     ', N'TRINH THANH ', N'BINH', CAST(N'1984-03-24 00:00:00.000' AS DateTime), N'23/4 HOANG HOA THAM', N'TH04    ', N'bc19bed3-b7e5-e911-8d30-caff28296269')
/****** Object:  Index [UK_MABD]    Script Date: 11/29/2019 4:54:03 PM ******/
ALTER TABLE [dbo].[BANGDIEM] ADD  CONSTRAINT [UK_MABD] UNIQUE NONCLUSTERED 
(
	[MABD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENCS]    Script Date: 11/29/2019 4:54:03 PM ******/
ALTER TABLE [dbo].[COSO] ADD  CONSTRAINT [UK_TENCS] UNIQUE NONCLUSTERED 
(
	[TENCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENKH]    Script Date: 11/29/2019 4:54:03 PM ******/
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [UK_TENKH] UNIQUE NONCLUSTERED 
(
	[TENKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_TENLOP]    Script Date: 11/29/2019 4:54:03 PM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UN_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_TENMH]    Script Date: 11/29/2019 4:54:03 PM ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [UN_TENMH] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_BAITHI_BANGDIEM] FOREIGN KEY([MaBD])
REFERENCES [dbo].[BANGDIEM] ([MABD])
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [FK_BAITHI_BANGDIEM]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_BAITHI_BODE] FOREIGN KEY([CauSo])
REFERENCES [dbo].[BODE] ([CAUHOI])
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [FK_BAITHI_BODE]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_MONHOC]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN1] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN1]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_KHOA]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_KHOA_COSO] FOREIGN KEY([MACS])
REFERENCES [dbo].[COSO] ([MACS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_KHOA_COSO]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[BAITHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_E4F15693_856B_44E3_BDE9_48CE3454A89C] CHECK NOT FOR REPLICATION (([CauHoi]>(11) AND [CauHoi]<=(1011) OR [CauHoi]>(1011) AND [CauHoi]<=(2011)))
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [repl_identity_range_E4F15693_856B_44E3_BDE9_48CE3454A89C]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_DIEM]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_LANTHI] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_LANTHI]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_37AA6655_5164_421C_BAAA_4A83CF7ADB8A] CHECK NOT FOR REPLICATION (([MABD]>(1004) AND [MABD]<=(2004) OR [MABD]>(46004) AND [MABD]<=(47004)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [repl_identity_range_37AA6655_5164_421C_BAAA_4A83CF7ADB8A]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_BODE] CHECK  (([TRINHDO]='A' OR [TRINHDO]='B' OR [TRINHDO]='C'))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_BODE]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_DAPAN] CHECK  (([DAP_AN]='D' OR ([DAP_AN]='C' OR ([DAP_AN]='B' OR [DAP_AN]='A'))))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_DAPAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_LAN] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_LAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_SOCAUTHI] CHECK  (([SOCAUTHI]>=(10) AND [SOCAUTHI]<=(100)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_SOCAUTHI]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_THOIGIAN] CHECK  (([THOIGIAN]>=(15) AND [THOIGIAN]<=(60)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_THOIGIAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TRINHDO] CHECK  (([TRINHDO]='C' OR ([TRINHDO]='B' OR [TRINHDO]='A')))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_TRINHDO]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [ck_Ho] CHECK  ((NOT [HO] like '%[^a-zA-Z ]%'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [ck_Ho]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [ck_Ten] CHECK  ((NOT [TEN] like '%[^a-zA-Z ]%'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [ck_Ten]
GO
/****** Object:  StoredProcedure [dbo].[SP_BAITHI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BAITHI] @maLop nchar(8) , @maSV nchar(8), @maMH nchar(5), @lan smallint

AS 
	DECLARE @ngayThi datetime, @soCauThi int, @trinhDo nchar(1), @maBD int, @res int, @subRes int

	
	-- res: so cau tim duoc trong BO DE
	SET XACT_ABORT ON
	BEGIN TRANSACTION

	BEGIN TRY
		create table #temp1 
		(idCauHoi int,cauhoi int, noidung ntext, a ntext, b ntext, c ntext, d ntext, dap_an char(1), ma_BD int)
	
	   -- select GIAOVIEN_DANGKI
		SELECT  @ngayThi = NGAYTHI, @soCauThi = SOCAUTHI, @trinhDo = TRINHDO FROM GIAOVIEN_DANGKY WHERE MAMH = @maMH AND MALOP = @maLop AND LAN = @lan
		--insert bang diem
		SAVE TRANSACTION _BANGDIEM

		INSERT INTO BANGDIEM(MASV, MAMH, LAN, NGAYTHI)
		VALUES (@maSV, @maMH, @lan, @ngayThi);
		SELECT @maBD = SCOPE_IDENTITY()

		-- random cau hoi + insert bai thi
		SELECT @res = COUNT(CAUHOI) FROM BODE 
		WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  

		if(@res >= @soCauThi)
			BEGIN
				INSERT INTO BAITHI (CauSo, NoiDung, A, B, C, D,DapAn, MaBD)
				SELECT TOP (@soCauThi) CAUHOI, NOIDUNG, A,B,C,D,DAP_AN, @maBD FROM BODE 
				WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  
				ORDER BY  NEWID()

				-- return ket qua
				insert into #temp1 (idCauHoi ,cauhoi, noidung, a , b , c , d , dap_an , ma_BD )
				SELECT CauHoi,CauSo,NoiDung, A,B,C,D, DapAn, MaBD FROM BAITHI
				WHERE MaBD = @maBD

				select * from #temp1


			END
		else if(@res < @soCauThi)
			BEGIN
				SELECT @subRes = COUNT(CAUHOI) FROM BODE 
				WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV NOT IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  
				
				if(@subRes < @soCauThi - @res)
					BEGIN
						 ROLLBACK TRANSACTION _BANGDIEM
						--RAISERROR('Không đủ số câu để tạo đề!', 16, 1)
						SELECT N'Không đủ số câu để tạo đề!' 
					END
				else if(@subRes >= @soCauThi - @res)
					BEGIN 
						INSERT INTO BAITHI (CauSo, NoiDung, A, B, C, D,DapAn, MaBD)
						SELECT TOP (@res) CAUHOI, NOIDUNG, A,B,C,D,DAP_AN,@maBD FROM BODE 
						WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  
						ORDER BY  NEWID()
		
						INSERT INTO BAITHI (CauSo, NoiDung, A, B, C, D,DapAn, MaBD)
						SELECT TOP (@soCauThi - @res) CAUHOI, NOIDUNG, A,B,C,D,DAP_AN,@maBD FROM BODE 
						WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV NOT IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  
						ORDER BY  NEWID()
					
						-- reurn ket qua
						insert into #temp1 (idCauHoi ,cauhoi, noidung, a , b , c , d , dap_an , ma_BD )
						SELECT CauHoi,CauSo,NoiDung, A,B,C,D, DapAn, MaBD FROM BAITHI
						WHERE MaBD = @maBD
						
						select * from #temp1
					END
			END
COMMIT
	END TRY
	BEGIN CATCH
	   ROLLBACK
	   DECLARE @ErrorMessage VARCHAR(2000)
	   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
	   --RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_chuyenKhoa]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_chuyenKhoa](@MAKH nchar(8),
							   @MAGV nchar(8))
    AS
    BEGIN
        UPDATE dbo.GIAOVIEN 
		SET MAKH = @MAKH
		WHERE MAGV = @MAGV
	IF  exists(SELECT * from  dbo.GIAOVIEN where MAGV = @MAGV AND MAKH = @MAKH)
   		raiserror ('Chuyển khoa thành công',16,1)
	ELSE
        raiserror ('Chuyển khoa thất bại',16,1)
    END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENLOP]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CHUYENLOP]
	(@MALOP nchar(8),
	 @MASV nchar(8))
    AS
    BEGIN
        UPDATE dbo.SINHVIEN 
		SET MALOP = @MALOP
		WHERE MASV = @MASV
	IF  exists(SELECT * from  dbo.SINHVIEN where MASV = @MASV AND MALOP = @MALOP)
   		raiserror ('Chuyển lớp thành công',16,1)
	ELSE
        raiserror ('Chuyển lớp thất bại',16,1)
    END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSach_DK_Thi]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DanhSach_DK_Thi]
@fromDate datetime,
@toDate datetime
AS

	SELECT DISTINCT LOP.TENLOP, MONHOC.TENMH, CONCAT(GIAOVIEN.HO,' ',GIAOVIEN.TEN) AS HOTEN, GVDK.SOCAUTHI, CONVERT(DATE, GVDK.NGAYTHI) AS NGAYTHI, dbo.checkMH(MONHOC.MAMH) AS DATHI  FROM GIAOVIEN_DANGKY GVDK 
	inner join LOP ON ( (GVDK.NGAYTHI BETWEEN @fromDate AND @toDate) AND lOP.MALOP = GVDK.MALOP)
	inner join MONHOC ON (GVDK.MAMH = MONHOC.MAMH)
	inner join GIAOVIEN ON (GVDK.MAGV = GIAOVIEN.MAGV)

	ORDER BY NGAYTHI ASC
GO
/****** Object:  StoredProcedure [dbo].[SP_DSBODE]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_DSBODE]
  @MAMH nchar(5)
AS
BEGIN
	SELECT * FROM dbo.BODE WHERE MAMH = @MAMH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DSLanThi]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DSLanThi]
@maSV nchar(8),
@maMH nchar(5)

AS 
	BEGIN
		SELECT LAN FROM BANGDIEM WHERE BANGDIEM.MASV = @maSV AND BANGDIEM.MAMH =@maMH AND BANGDIEM.DIEM IS NULL
	END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DSLanThiDK]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DSLanThiDK]
@maMH nchar(5),
@maLop nchar(8)
AS
BEGIN
		SELECT DISTINCT  GVDK.LAN FROM GIAOVIEN_DANGKY GVDK INNER JOIN MONHOC ON  (GVDK.MALOP=@maLop AND GVDK.MAMH=@maMH AND GVDK.MAMH=MONHOC.MAMH)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DSLanThiThuGV]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DSLanThiThuGV]
@maMH nchar(5),
@maLop nchar(8)

AS 
	
BEGIN
		SELECT DISTINCT  GVDK.LAN FROM GIAOVIEN_DANGKY GVDK 
		INNER JOIN MONHOC ON  (GVDK.MALOP=@maLop AND GVDK.MAMH=@maMH AND GVDK.MAMH=MONHOC.MAMH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DSMHDK]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DSMHDK]
@maLop nchar(8)
AS
BEGIN
		SELECT DISTINCT  MONHOC.MAMH, MONHOC.TENMH FROM GIAOVIEN_DANGKY GVDK INNER JOIN MONHOC ON  (GVDK.MALOP=@maLop AND GVDK.MAMH=MONHOC.MAMH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INBAITHI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INBAITHI]
@maSV nchar(8),
@maMH nchar(5),
@lan smallint

AS 
 BEGIN
	DECLARE @maBD int;

	SELECT @maBD =  BANGDIEM.MABD FROM BANGDIEM WHERE BANGDIEM.MASV = @maSV AND BANGDIEM.MAMH = @maMH AND BANGDIEM.LAN = @lan;
	SELECT BAITHI.CauSo, BAITHI.NoiDung, CONCAT(N'A. ' , CONVERT(NVARCHAR(MAX),BAITHI.A)) AS A ,CONCAT( N'B. ' , CONVERT(NVARCHAR(MAX),BAITHI.B)) AS B ,CONCAT( N'C. ' , CONVERT(NVARCHAR(MAX),BAITHI.C) ) AS C ,CONCAT(N'D. ' , CONVERT(NVARCHAR(MAX),BAITHI.D))  AS D , BAITHI.DapAn, BAITHI.DaChon FROM BAITHI WHERE BAITHI.MaBD = @maBD
 END;
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_GVDK]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KT_GVDK]
  @MAMH nchar(5),
  @MALOP nchar(8),
  @LAN smallint
AS

IF exists(select * from dbo.GIAOVIEN_DANGKY where MAMH =@MAMH AND MALOP =@MALOP AND LAN= @LAN)
	raiserror ('Môn học này lớp này và lần thi này đã tồn tại, vui lòng nhập lại',16,1)
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_LOP_TONTAI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KT_LOP_TONTAI]
  @MALOP nchar(8),
  @TenLop nvarchar(50)
AS

IF exists(select MALOP from LINK2.TN.dbo.LOP where MALOP =@MALOP)
	raiserror ('Mã lớp đã tồn tại, vui lòng nhập lại',16,1)

ELSE IF exists(SELECT TENLOP from LINK2.TN.dbo.LOP where TENLOP =@TenLop)
	raiserror ('Tên lớp đã tồn tại, vui lòng nhập lại',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_KT_MA_BO_DE]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KT_MA_BO_DE]
  @MACAUHOI INT
AS

IF exists(select * from dbo.BODE where CAUHOI = @MACAUHOI)
	raiserror ('Mã câu hỏi đã tồn tại, vui lòng nhập lại',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_KT_MONHOC_TON_TAI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_KT_MONHOC_TON_TAI]
  @MAMH nchar(8),
  @TENMH varchar(40)
AS
	If  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
   		raiserror ('Mã môn học đã tồn tại, vui lòng nhập mã khác',16,1)

	If  exists(SELECT TENMH FROM  dbo.MONHOC WHERE TENMH = @TENMH)
		raiserror ('Tên môn học đã tồn tại, vui lòng nhập tên khác',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_KT_TEN_Khoa_TONTAI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KT_TEN_Khoa_TONTAI]
	@MAKH nchar(8),
	@TENKH nvarchar(50)

AS

BEGIN
	IF exists(select TENKH from LINK2.TN.dbo.khoa where TENKH =@TENKH AND MAKH != @MAKH)
		raiserror ('Tên khoa đã tồn tại, vui lòng đặt tên khác',16,1)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_KT_TEN_MONHOC_TON_TAI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_KT_TEN_MONHOC_TON_TAI]
  @MAMH nchar(8),
  @TENMH varchar(40)
AS
	IF  exists(SELECT TENMH FROM  dbo.MONHOC WHERE TENMH = @TENMH AND MAMH!= @MAMH)
		raiserror ('Tên môn học đã tồn tại, vui lòng nhập tên khác',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_KT_XOA_GVDK]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KT_XOA_GVDK]
  @MAMH nchar(5),
  @MALOP nchar(8),
  @LAN smallint
AS
BEGIN
	
	SELECT BANGDIEM.MASV INTO ##tb_tamSV FROM dbo.SINHVIEN JOIN dbo.BANGDIEM ON BANGDIEM.MASV = SINHVIEN.MASV WHERE LAN = @LAN AND MAMH =@MAMH

	SELECT dbo.SINHVIEN.MALOP INTO ##tamLop FROM ##tb_tamSV JOIN dbo.SINHVIEN ON SINHVIEN.MASV = ##tb_tamSV.MASV GROUP BY MALOP

	IF exists(select * FROM ##tamLop WHERE MALOP = @MALOP)
		raiserror ('Thông tin của giảng viên đăng ký này đã tồn tại trong bảng bảng điểm, Không thể xóa',16,1)

	DROP TABLE ##tb_tamSV;
	DROP TABLE ##tamLop;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KTGV_TONTAI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_KTGV_TONTAI]
  @MAGV nchar(8)
AS
 
  
If  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV =@MAGV)
   	raiserror ('Mã GV đã tồn tại, vui lòng chọn mã khác',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_KTKhoa_TONTAI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KTKhoa_TONTAI]
  @MAKH nchar(8),
  @TENKH nvarchar(50)
AS

BEGIN
	IF exists(select MAKH from LINK2.TN.dbo.khoa where MAKH =@MAKH)
		raiserror ('Mã khoa đã tồn tại, vui lòng đặt mã khác',16,1)

	IF exists(select TENKH from LINK2.TN.dbo.khoa where TENKH =@TENKH)
		raiserror ('Tên khoa đã tồn tại, vui lòng đặt tên khác',16,1)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_KTLANTHI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KTLANTHI]
@MASV CHAR(8), @MAMH CHAR(5), @LAN INT
AS

IF EXISTS (SELECT * FROM BANGDIEM WHERE MASV= @MASV AND MAMH =@MAMH AND LAN =@LAN)
	raiserror ('Sinh viên đã thi lần này, không được thi lại',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_KTMALop_TONTAI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KTMALop_TONTAI]
  @MALOP nchar(8),
  @TenLop nvarchar(50)
AS
	IF exists(SELECT TENLOP from LINK2.TN.dbo.LOP where TENLOP =@TenLop AND MALOP!=@MALOP)
		RAISERROR ('Tên lớp đã tồn tại, vui lòng nhập lại',16,1)


GO
/****** Object:  StoredProcedure [dbo].[SP_KTSV_DANGNHAP]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KTSV_DANGNHAP]
  @MASV  nchar(8)
AS
	IF exists(select masv from dbo.sinhvien where masv =@MASV)
		SELECT * FROM dbo.SINHVIEN where masv =@MASV
	else
		raiserror ('Mã Sinh Viên không tồn tại trong danh sách, vui lòng kiểm tra lại',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_KTSV_TONTAI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KTSV_TONTAI] @X nchar(8)
AS
IF exists(select masv from LINK2.TN.dbo.sinhvien where masv =@X)
		raiserror ('Mã Sinh Viên đã tồn tại, vui lòng nhập lại',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_LanThiSV]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LanThiSV]
@maSV nchar(8),
@maMH nchar(5)

AS 
	BEGIN
		SELECT LAN FROM BANGDIEM WHERE BANGDIEM.MASV = @maSV AND BANGDIEM.MAMH =@maMH AND BANGDIEM.DIEM IS NOT NULL
	END;


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TT_DANGNHAP]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_TT_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM dbo.GIAOVIEN  WHERE MAGV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))



GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TT_DANGNHAP_SV]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_TT_DANGNHAP_SV]
@TENLOGIN NVARCHAR (50),
@maSV nchar(8)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM dbo.SINHVIEN  WHERE MASV = @maSV ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_MA_GV_CHUA_TAO_TK]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_MA_GV_CHUA_TAO_TK]
AS
BEGIN
	SELECT name as MAGV,
		   type_desc as type
		   INTO  ##Users
	FROM sys.database_principals
	WHERE type not in ('A', 'G', 'R', 'X')
		  and sid is not null
		  and name != 'guest'
	ORDER BY MAGV;

	SELECT GIAOVIEN.MAGV , HO +' '+TEN AS TEN
		FROM dbo.GIAOVIEN LEFT JOIN ##Users 
			ON GIAOVIEN.MAGV =##Users.MAGV
		where ##Users.MAGV IS NULL; 
		--GROUP BY dbo.GIAOVIEN.MAGV

	DROP TABLE ##Users
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MonHocSV]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MonHocSV]
	@maSV NCHAR(8)
AS
	BEGIN
		SELECT DISTINCT MONHOC.MAMH, MONHOC.TENMH FROM BANGDIEM INNER JOIN MONHOC ON (BANGDIEM.MASV = @maSV AND BANGDIEM.MAMH = MONHOC.MAMH) 
	END;
	

GO
/****** Object:  StoredProcedure [dbo].[SP_PhucHoiSuaMH]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PhucHoiSuaMH]
  @MAMH nchar(8),
  @TENMH varchar(40)
AS
	-- Trùng tên môn học
	 IF  exists(SELECT TENMH FROM  dbo.MONHOC WHERE TENMH = @TENMH AND MAMH!= @MAMH)
		BEGIN
			RETURN 2
		END
	--  Sửa môn học
	ELSE 
		BEGIN
			UPDATE dbo.MONHOC SET TENMH = @TENMH where MAMH=@MAMH
			RETURN 0;
		END

		

GO
/****** Object:  StoredProcedure [dbo].[SP_PhucHoiThemMH]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PhucHoiThemMH]
  @MAMH nchar(8),
  @TENMH varchar(40)
AS
	If  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
		BEGIN
			RETURN 1
		END

	 IF  exists(SELECT TENMH FROM  dbo.MONHOC WHERE TENMH = @TENMH)
		BEGIN
			RETURN 2
		END
	ELSE 
		BEGIN
			INSERT dbo.MONHOC 
					( MAMH, TENMH )
			VALUES  ( @MAMH, -- MAMH - nchar(5)
					  @TENMH -- TENMH - varchar(40)
					)
			RETURN 0;
		END

		

GO
/****** Object:  StoredProcedure [dbo].[SP_PhucHoiXoaMH]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PhucHoiXoaMH]
  @MAMH nchar(8),
  @TENMH varchar(40)
AS
	--Bảng điểm
	 IF  exists(SELECT * FROM dbo.BANGDIEM WHERE MAMH = @MAMH)
		BEGIN
			RETURN 1
		END
	-- Bộ đề
	ELSE IF  exists(SELECT * FROM dbo.BODE WHERE MAMH = @MAMH)
		BEGIN
			RETURN 2
		END

	--Giảng viên đăng ký
	ELSE IF  exists(SELECT * FROM dbo.GIAOVIEN_DANGKY WHERE MAMH = @MAMH)
		BEGIN
			RETURN 3
		END

	-- Xóa môn học
	ELSE 
		BEGIN
			DELETE dbo.MONHOC where MAMH=@MAMH
			RETURN 0;
		END

		

GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoTaiKhoan]
	@LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'TN'                     

  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1

  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG

  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END

  EXEC sp_addrolemember @ROLE, @USERNAME

  IF @ROLE= 'Truong'  OR @ROLE ='Coso'
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END

  ELSE IF @ROLE= 'Giangvien'
	BEGIN  
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END

	RETURN 0  -- THANH CONG
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ThiThu]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThiThu] @maLop nchar(8) , @maMH nchar(5), @lan smallint

AS 
	DECLARE @soCauThi int, @trinhDo nchar(1), @maBD int, @res int, @subRes int
	-- res: so cau tim duoc trong BO DE
	SET XACT_ABORT ON
	
	BEGIN TRY
		create table #temp1 
		(cauhoi int, noidung ntext, a ntext, b ntext, c ntext, d ntext, dap_an char(1))
		
	   -- select GIAOVIEN_DANGKI
		SELECT  @soCauThi = SOCAUTHI, @trinhDo = TRINHDO FROM GIAOVIEN_DANGKY WHERE MAMH = @maMH AND MALOP = @maLop AND LAN = @lan
	
		-- random cau hoi 
		SELECT @res = COUNT(CAUHOI) FROM BODE 
		WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  

		if(@res >= @soCauThi)
			BEGIN
				-- return ket qua
				SELECT TOP (@soCauThi) CAUHOI, NOIDUNG, A,B,C,D,DAP_AN FROM BODE 
				WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  
				ORDER BY  NEWID()
			END
		else if(@res < @soCauThi)
			BEGIN
				SELECT @subRes = COUNT(CAUHOI) FROM BODE 
				WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV NOT IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  
				
				IF (@subRes < @soCauThi - @res)
					--RAISERROR('Không đủ số câu để tạo đề!' , 16, 1)
					SELECT N'Không đủ số câu để tạo đề!' 
				else if(@subRes >= @soCauThi - @res)
					BEGIN 
						-- reurn ket qua
						insert into #temp1 (cauhoi , noidung, a , b , c , d , dap_an  )
						SELECT TOP (@res) CAUHOI, NOIDUNG, A,B,C,D,DAP_AN FROM BODE 
						WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  
						ORDER BY  NEWID()

						insert into #temp1 (cauhoi , noidung, a , b , c , d , dap_an  )
						SELECT TOP (@soCauThi - @res) CAUHOI, NOIDUNG, A,B,C,D,DAP_AN FROM BODE 
						WHERE MAMH = @maMH AND TRINHDO = @trinhDo AND MAGV NOT IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  
						ORDER BY  NEWID()

						select * from #temp1 
					
					END
			END
			
	END TRY
	BEGIN CATCH
	   DECLARE @ErrorMessage VARCHAR(2000)
	   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
	   --RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINLANTHI]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTINLANTHI]
@MALOP CHAR(8), @MAMH CHAR(5), @LAN INT
AS

BEGIN
	IF EXISTS (SELECT * FROM GIAOVIEN_DANGKY WHERE MALOP=@MALOP AND MAMH=@MAMH AND LAN=@LAN )
		SELECT TRINHDO, SOCAUTHI, THOIGIAN,NGAYTHI FROM GIAOVIEN_DANGKY
		WHERE MALOP=@MALOP AND MAMH=@MAMH AND LAN=@LAN

	ELSE 
		RAISERROR ('Không tìm thấy thông tin thi',16,1)
	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_XemKetQuaSV]    Script Date: 11/29/2019 4:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XemKetQuaSV]

@MaLop nchar(8),
@MaMH nchar(5),
@LanThi smallint

AS
	SELECT SV.MASV, SV.HO, SV.TEN, BD.DIEM, dbo.Num2Text(BD.DIEM) AS DIEMCHU FROM GIAOVIEN_DANGKY GVDK 
	JOIN BANGDIEM BD ON ( GVDK.MALOP=@MaLop AND GVDK.MAMH=@MaMH AND GVDK.LAN=@LanThi AND BD.MAMH = GVDK.MAMH AND BD.LAN = GVDK.LAN)
	JOIN SINHVIEN SV ON(SV.MASV = BD.MASV)

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PUBS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 322
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUBS"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 288
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "COSO"
            Begin Extent = 
               Top = 6
               Left = 360
               Bottom = 136
               Right = 530
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_COSO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_COSO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "LOP"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DSLOP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DSLOP'
GO
